.ui.cards.notecards {
  margin-top: 25px;
  margin-bottom: 25px;
}

.dashboard .ui.header.nav {
  width: 75vw;
  margin-top: 25px;
}

.ui.button.dropdown.user-account {
  background: #21ba45;
  color: white;
  position: absolute;
  right: 90px;
  top: 40px;
}