.github-picker {
  z-index: 1;
  top: 10px;
  padding: 10px !important;
}

.toolbar .buttons {
  padding: 0px;
}

.toolbar .ui.basic.button.text-color {
  color: white !important;
  background: #000;
}